@mixin commons {
  width: 280px;
  position: absolute;
  display: flex;
}
.wraper {
  width: 280px;
  height: max-content;
  position: relative;
  overflow-x: hidden;
  .activeReg {
    @include commons;
  }
  .disableReg {
    @include commons;
  }
  .activeLogin {
    @include commons;
  }
  .disableLogin {
    @include commons;
  }
}
