:root {
  --mui-background: rgb(255, 255, 255);
  --mui-text: rgb(0, 0, 0);
  --mui-background-paper: rgb(230, 230, 230);
  --mui-primary: rgb(255, 179, 0);
  --mui-primary-light: rgb(255, 194, 51);
  --mui-primary-contrastcolor: rgba(0, 0, 0, 0.87);
  --mui-secondary: rgb(26, 0, 144);
  --mui-secondary-light: rgb(71, 51, 166);
  --mui-secondary-contrastcolor: rgb(255, 255, 255);
  --mui-error: rgb(244, 67, 54);
  --mui-error-light: rgb(229, 115, 115);
  --mui-error-contrastcolor: rgb(255, 255, 255);
  --mui-warning: rgb(33, 150, 243);
  --mui-warning-light: rgb(77, 171, 245);
  --mui-warning-contrastcolor: rgb(255, 255, 255);
  --mui-info: rgb(41, 182, 246);
  --mui-info-light: rgb(79, 195, 247);
  --mui-info-contrastcolor: rgba(0, 0, 0, 0.87);
  --mui-success: rgb(102, 187, 106);
  --mui-success-light: rgb(129, 199, 132);
  --mui-success-contrastcolor: rgba(0, 0, 0, 0.87);
  --mui-divider: rgba(255, 255, 255, 0.12);
  --mui-neutral: rgb(100, 116, 139);
  --mui-neutral-contrastcolor: rgb(255, 255, 255);
  --mui-profile: rgba(178, 125, 0, 0.11);
}
@media (prefers-color-scheme: dark) {
  :root {
    --mui-background: rgb(0, 0, 0);
    --mui-text: rgb(255, 255, 255);
    --mui-background-paper: rgb(32, 32, 32);
    --mui-primary: rgb(178, 125, 0);
    --mui-secondary: rgb(18, 0, 100);
    --mui-error: rgb(211, 47, 47);
    --mui-warning: rgb(23, 105, 170);
    --mui-info: rgb(2, 136, 209);
    --mui-success: rgb(56, 142, 60);
    --mui-divider: rgba(0, 0, 0, 0.12);
  }
}
